body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  .card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 5%;
  }

  .front {
    background-color: #FF0000;
  }

  .back {
    background-color: #31D200;
    transform: rotateY(180deg);
  }